<mat-toolbar>
  <button mat-icon-button (click)="isExpanded = !isExpanded" *ngIf="isAuthenticated"><mat-icon>menu</mat-icon></button>

  <img class="image-logo" src="assets/images/logo-iss.svg">

  <span class="navbar-title">
    <a href="/"> Нормативно-справочная информация помещений </a>
  </span>

  <span class="indent"></span>

  <div class="header-user" *ngIf="isAuthenticated">
    <span class="user-fio"> {{ fio_initials }} </span>
    <span (click)="logout()" class="pointer"  matTooltip="Выход" matTooltipPosition="left">
      <mat-icon mat-list-icon> exit_to_app </mat-icon>
    </span>
  </div>


</mat-toolbar>

<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sidenav class="text-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()" *ngIf="isAuthenticated">
    <mat-nav-list>
      <a mat-list-item routerLink="/rooms" routerLinkActive="active">
        <mat-icon mat-list-icon> room </mat-icon>
        <span *ngIf="isExpanded || isShowing"> Комнаты </span>
      </a>

      <a mat-list-item routerLink="" routerLinkActive="active">
        <mat-icon mat-list-icon> dashboard </mat-icon>
        <span *ngIf="isExpanded || isShowing"> Корпуса </span>
      </a>

      <a mat-list-item routerLink="" routerLinkActive="active">
        <mat-icon mat-list-icon> home </mat-icon>
        <span *ngIf="isExpanded || isShowing"> Площадки </span>
      </a>

      <a mat-list-item routerLink="" routerLinkActive="active">
        <mat-icon mat-list-icon> lock </mat-icon>
        <span *ngIf="isExpanded || isShowing"> Категории </span>
      </a>

      <a mat-list-item routerLink="" routerLinkActive="active" (click)="showSubmenu = !showSubmenu">
        <mat-icon mat-list-icon> settings </mat-icon>
        <span *ngIf="isExpanded || isShowing"> Администрирование </span>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
      </a>

      <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
        <a mat-list-item routerLink=""> Пользователи </a>
        <a mat-list-item routerLink=""> История </a>
      </div>

    </mat-nav-list>
  </mat-sidenav>

  <router-outlet></router-outlet>

</mat-sidenav-container>
