.image-logo {
  margin-left: 50px;
  margin-right: 10px;
}

.navbar-title {
  font-size: 19px;

  a {
    text-decoration: none !important;
    color: var(--white-color);
  }
}

.indent {
  flex: 1 1 auto;
}
