<div mat-dialog-title *ngIf="!user_id"> Добавление пользователя </div>
<div mat-dialog-title *ngIf="user_id"> Редактирование пользователя </div>

<div mat-dialog-content>
  <div class="container">

    <!-- === {{ backendErrors$ | async }} === -->

    <form [formGroup]="form" class="container">
      <mat-form-field class="full-width">
        <mat-label> Табельный номер </mat-label>
        <input formControlName="tn" matInput placeholder="Введите табельный номер пользователя" type="number">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label> Роль </mat-label>
        <mat-select formControlName="role_id">
          <mat-option *ngFor="let role of roles$ | async" [value]="role.id">
            {{role.short_description}} ({{ role.long_description }})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

  </div>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="success" (click)="onSave()" [disabled]="isSubmitting$ | async"> Сохранить </button>
  <button mat-button mat-dialog-close (click)="onClose()"> Отмена </button>
</div>
